
@font-face {
    font-family: '13210-fontps';
    src: url('13210-fontps.ttf') format('truetype');
}
@font-face {
    font-family: 'IM Fell French Canon Pro';
}

* {
    font-family: '13210-fontps';
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin-bottom: 60px;
    background-image: url(https://img.freepik.com/free-vector/copy-space-wavy-white-background-layers_23-2148845469.jpg?w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}
