@model List<IndexModel>
@{
    ViewData["Title"] = "Home Page";

    string value = "";
}

<link href="~/css/backgroundhomepage.css" rel="stylesheet" />

<p style="background-image: url(https://wallpaperaccess.com/full/2092433.jpg);">

    <div class="background">
    <div class="text-center">
        <h1 class="display-4">Welcome to the blender paradise</h1>
        <h1 class="display-4">Enjoy your stay</h1>
    </div>
    <div class="wrap">
        <div class="search">
            <form method="post">
                <div class="centered">
                    <input asp-for="@value" type="text" placeholder="Search" class="searchTerm">
                    <button type="submit" class="searchButton">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
