@{
    ViewData["Title"] = "About";
}
<h1>About the project</h1>

<p id="description">The idea of the project is all about free blender models sharing.</p>


<h2>🧐 Features</h2>

Here're some of the project's best features:
<h1 style="padding: 2px" class="display-4"></h1>
*   Daily modeling challenge (updates daily)
<h1 style="padding: 2px" class="display-4"></h1>
*   User - friendly design


        <h2>💻 Built with</h2>

        Technologies used in the project:
<h1 style="padding: 2px" class="display-4"></h1>
        *   ASP.net
<h1 style="padding: 2px" class="display-4"></h1>
        *   Azure
<h1 style="padding: 2px" class="display-4"></h1>
        *   Bootstrap
        <h1 style="padding: 2px" class="display-4"></h1>
        *   Sonar Cloud
<h1 style="padding: 2px" class="display-4"></h1>
        *   Entity Framework Core
<h1 style="padding: 2px" class="display-4"></h1>
        *   NUnit
<h1 style="padding: 2px" class="display-4"></h1>
        *   Quartz.net

        <h2>🛡️ License:</h2>

        This project is licensed under the  <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>


<h2>😎 Made by:</h2>
<a href="https://www.instagram.com/davidpetkov_/">David Petkov</a>

<h1 style="padding: 2px" class="display-4"></h1>
Contact me:

<h1 style="padding: 2px" class="display-4"></h1>
Gmail - davidpetkov2006@gmail.com

