@model DownloadProductModel
@{
    ViewData["Title"] = "Avalable Models";
}
<h1>@ViewData["Title"]</h1>

                    <span>@Model.Polygons</span>
                    <span>@Model.Vertices</span>
                    <span>@Model.Geometry</span>
